@media (min-width: 320px) and (max-width: 767px) {
  body .add-employee-tabs-main .FranchiseSixTabs li {
    width: 100%;
    margin-right: 0;
  }

  .padd-upcoming-2 {
    padding: 0px 18px 10px 19px;
  }

  .EmployeeTrimitinerayViewTablePadd .super-admin-table-1 table tr td input {
    width: 100% !important;
  }

  .EmployeeTrimitinerayViewTablePadd .table {
    width: 500px !important;
  }

  .EmployeeTrimitinerayViewTablePadd {
    padding: 10px;
  }

  .order-date {
    width: 100%;
  }

  .order_main .fiter-butn-main {
    width: 100%;
    padding-left: 0px;
  }

  .TripItineraryMainDiv input {
    width: 100% !important;
  }

  .TripItineraryViewCalendar {
    left: initial !important;
    top: 5px !important;
    right: 10% !important;
  }

  body .TripItineraryMainDiv select {
    width: 100% !important;
  }

  .super-admin-mess-content-left {
    width: 100%;
  }

  .super-admin-mess-content-left-text {
    width: 80%;
  }

  .super-admin-cargo-hold-box-main .logout-box-main {
    left: 0px;
    min-width: 135px;
  }

  .fourty-hours-main h6 {
    width: 45%;
  }

  .fourty-hours-main b {
    width: 54%;
    font-size: 11px;
  }

  .pos-rel-input-type {
    bottom: 0;
  }

  .super-admin-table-position {
    padding-right: 27px !important;
  }

  .super-admin-table-position-1 {
    padding-right: 20px !important;
    text-align: left;
  }

  .super-admin-table-1 table tr th {
    line-height: 50px;
  }

  .super-admin-table-1 table tr td {
    line-height: 40px;
  }

  .add-franchise-data-main-1 .nav-tabs {
    padding-top: 5px;
    padding-left: 5px;
  }

  .add-franchise-super-main {
    margin: 10px 5px 21px 5px;
  }

  .view-tab-content-head {
    line-height: 20px;
  }

  .padd-view {
    padding-bottom: 0;
  }


  .add-franchise-super-main .view-tab-control p {
    word-break: break-all;
  }

  .view-tabs-control-main {
    padding-bottom: 0px;
  }

  .Task_List_Main span {
    width: 8%;
  }

  .BoxWidth .input-time-picker label {
    width: 30%;
  }

  .BoxWidth .input-time-picker span {
    font-size: 8px;
    margin-left: 2px;
  }

  .employee-content-left ul li h1 {
    font-size: 12px;
    width: 90%;
    word-break: break-all;
  }

  .pos-abs-cargo-tab {
    top: 4px;
    left: 52px;
  }

  .bottom a {
    padding: 6px 20px;
  }

  .DeleteEmployeepopup .modal-body p {
    width: auto;
  }

  .pos-rel-input-type-1 {
    bottom: 0;
  }

  .side-bar-res-main {
    background-color: #10284a;
    padding-bottom: 1px;
  }

  .side-bar-res {
    padding: 20px;
    background-color: #10284a;
    float: left;
    display: block;
  }

  .res-bar-icon i {
    font-size: 20px;
    color: #fff;
  }

  .res-logo-main {
    display: block;
    text-align: center;
  }

  .res-bar-icon {
    padding: 10px;
    background-color: #10284a;
    float: right;
    display: block;
    text-align: right;
    padding-right: 20px;
    padding-top: 35px;
  }

  .dropdown-menu-1 li a {
    font-size: 13px;
    color: #fff;
  }

  .side-bar-main {
    display: none;
  }

  .main_right_side {
    float: none;
  }

  .main_left_side {
    position: initial;
    z-index: auto;
  }

  .side-bar-main {
    min-height: auto !important;
  }

  .footer-main {
    display: none;
  }

  .footer-main-1 {
    display: block !important;
  }

  .logo-main {
    display: none;
  }

  .logo-main img {
    height: 111px;
  }

  .head-top {
    padding: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  .head-1 h1 {
    font-size: 17px;
  }

  .head-2 {
    margin-top: 3px;
  }

  .head-2 img {
    margin-right: 10px;
  }

  .head-top-1 {
    padding-left: 15px;
  }

  .bottom-main {
    margin: 11px;
  }

  .head-top-1 h3 {
    text-align: center;
  }

  .cntct-img {
    display: none;
  }

  .inner-tabs-parent {
    width: 100% !important;
    position: initial;
  }

  .inner-tabs-content-parent-1 {
    padding-left: 10px;
  }

  .inner-tabs-content h3 {
    font-size: 13px;
  }

  .inner-tabs-content p {
    margin-left: 18px;
  }

  .mar-top {
    margin-top: 0px;
  }

  .parent-para {
    width: auto;
  }

  .parent-para-1 {
    width: auto;
  }

  .inner-tabs-content-1 {
    padding: 5px;
  }

  .employee-1-left {
    width: 100%;
  }

  .employee-content-left {
    padding: 7px;
    padding-left: 7px;
  }

  .padd-left-1 {
    padding-left: 0px;
  }

  .edit-task-list-li-edit .sortableList li p {
    padding-left: 0;
    display: block;
  }

  /*.edit-task-list-li-edit .sortableList li span {
      float: none;
      display: block;
      text-align: center;
  }*/

  .employee-1-right {
    width: 100%;
    margin-top: 20px;
  }

  .employee-ul .nav-tabs {
    text-align: left;
  }

  .employee-ul .nav-tabs li {
    display: inline-block;
  }

  .employee-content-right figure p {
    width: 160px;
    font-size: 12px;
  }

  .employee-content-right figure span {
    font-size: 12px;
  }

  .head-full-width {
    font-size: 14px;
  }

  .employee-content-right-1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .box-mar {
    margin-top: 0;
  }

  .employee-content-right-3 figure p {
    width: 110px !important;
  }

  .performance-record-main .nav-tabs {
    text-align: left;
  }

  .add-ins-butn {
    margin-right: 15px;
  }

  .litracy-content-select a {
    display: none;
  }

  .employee-content-right-4 figure {
    width: 100%;
  }

  .left-sec-message input {
    width: 87%;
  }

  .message-body-1 {
    width: 100%;
  }

  .message-body-2 {
    width: 100%;
  }

  .message-body-maain {
    padding: 15px;
    padding-left: 22px;
  }

  .message-body-input button {
    position: relative;
    top: 30px;
  }

  .message-body-input input {
    width: 100%;
  }

  .right-sec-message-top-bar {
    padding: 10px 15px 10px 25px;
  }

  .left-sec-message-1-1 {
    height: 300px;
  }

  .table-responsive {
    border: 0px;
  }

  .parent-1-content-table .table-head {
    display: none;
  }

  .litracy-content-select select {
    margin-bottom: 5px;
  }

  .table-head {
    display: none;
  }

  .upcoming-client-left {
    width: 100%;
  }

  .upcoming-emloyee-right {
    width: 100%;
    margin-top: 11px;
    margin-left: 0;
  }

  .circle-admin:before {
    display: none;
  }

  .circle-admin-1:before {
    display: none;
  }

  .circle-admin-2:before {
    display: none;
  }

  .table-border {
    display: none;
  }

  .insurace-1-body-main-1 label {
    display: block;
    position: inherit;
    top: 0;
  }

  .insurace-1-body-main-1 input {
    width: 100%;
  }

  .insurace-1-body-main-1 select {
    width: 100%;
  }

  .insurace-1-body-main-1 a {
    float: none;
    bottom: -9px;
  }

  .notebook-main {
    width: 42%;
  }

  .table-border-1 {
    display: none;
  }

  .edit-body-main {
    margin: 5px;
  }

  .modal-content-1 {
    width: 376px;
  }

  .modal-head input {
    width: 91%;
  }

  .pop-up-butn {
    width: 91% !important;
  }

  .head-admin-sec {
    width: 101px;
  }

  .head-admin-sec p {
    font-size: 10px;
  }

  .create-report-butn {
    position: initial;
  }

  .pen-butn {
    position: initial;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .pen-butn-1 {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .container-login {
    width: auto;
  }

  .login-page-main {
    background-image: none;
    padding-bottom: 131px;
  }

  .forget-pasmain {
    position: initial;
    padding-top: 10px;
    padding-left: 6px;
    text-align: center;
  }

  .forget-pasmain a {
    font-size: 14px;
  }

  .Login-input input {
    width: 280px;
  }

  .login-butn {
    width: 280px;
  }

  .login-head {
    margin-bottom: 15px;
    padding-top: 0px;
  }

  .logo-login {
    margin: 28px 0 20px 0;
    text-align: center;
  }

  .logo-login img {
    width: 56%;
  }

  .login-footer-bar-main {
    line-height: 25px;
    width: 100%;
    background-color: #10294b;
    padding: 10px 0;
  }

  .login-footer-bar-main p {
    padding-left: 0%;
    text-align: center;
  }

  .mob-login-bg {
    width: 300px;
    margin: 0 auto;
  }

  .forgot-page-main {
    background-image: none;
  }

  /*.super-admin-table-1 table {
      width: 750px;
  }*/

  .BluePencile {
    right: 4%;
    bottom: 8px;
  }

  .ResponsiveTabs .nav-tabs li a {
    display: block !important;
    text-align: center;
  }

  .frachise-view-table-responsive table {
    width: 1000px;
  }

  .add-franchise-data-main-2 .nav-tabs {
    padding-left: 0;
  }

  .view-tab-control .nav-tabs li {
    margin: 0;
  }

  .add-franchise-data-main-1 .nav-tabs > li.active > a,
  .add-franchise-data-main-1 .nav-tabs > li.active > a:focus,
  .add-franchise-data-main-1 .nav-tabs > li.active > a:hover {
    padding-bottom: 10px !important;
    margin-bottom: 0;
  }

  .view-tab-control {
    width: 100%;
  }

  .view-tab-control ul li a {
    display: block !important;
  }

  /*.add-franchise-data-main-1 {
      margin-top: 20px;
  }
  .view-tabs-control-main {
      padding-bottom: 15px;
  }*/

  .super-admin-add-relation figure textarea {
    width: 80% !important;
  }

  .super-admin-add-relation-main input {
    width: 100% !important;
  }

  .add-user-main-input figure label {
    width: auto;
    margin-left: 0px;
  }

  .super-admin-add-relation-main .radio-btun input {
    width: auto !important;
  }

  .input-time-picker input {
    width: 16% !important;
  }

  .add-employee-data {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mar-rit-5 {
    margin-bottom: 20px;
  }

  .back {
    padding: 4px 30px;
    margin: 0;
  }

  .nxt-butn-ri8 {
    padding: 4px 30px;
  }

  #cargoHold .franchise-data select {
    width: 100% !important;
  }

  #cargoHold .col-md-2 {
    width: 100%;
  }

  #cargoHold .franchise-data .pos-abs-2 {
    top: 25%;
  }

  .super-admin-add-relation-main .input-group-row {
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .head-top-1 h3 {
    text-align: left;
  }

  .cntct-img {
    display: none;
  }

  .graph-left-head {
    float: left;
    text-align: left;
  }

  .graph-right-head {
    float: right;
    text-align: left;
  }

  .head-2 {
    margin-top: 0;
  }
}

@media (min-width: 545px) and (max-width: 767px) {
  .pdf-sec-1 {
    width: 32%;
  }

  .pdf-vdo {
    width: 42.5%;
  }

  .notebook-main {
    width: 29%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body .add-employee-tabs-main .FranchiseSixTabs li {
    width: 100%;
    margin-right: 0;
  }

  .width15 {
    width: auto;
  }

  .super-admin-message-text-main {
    width: 65%;
  }

  .super-admin-mess-content-left {
    width: 100%;
  }

  .super-admin-mess-content-left-text {
    width: 80%;
  }

  #cargoHold .col-md-2 {
    width: 40.5%;
  }

  #cargoHold .franchise-data .pos-abs-2 {
    right: 5%;
  }

  .edit-task-list-li-edit .sortableList li {
    width: 100%;
  }

  .add-franchise-data-main-1 ul li a {
    padding: 0px 11px;
  }

  .pos-abs-cal-1-1 {
    top: 28%;
    right: 39%;
  }

  .pos-abs-cal {
    top: 9px;
    right: 60px;
  }

  .super-admin-add-relation-main {
    margin: 25px 22px 0 22px;
  }

  .Task_List_Main h1 {
    width: 93%;
  }

  .Task_List_Main span {
    width: 5%;
  }

  .add-user-main-input figure label {
    width: 30%;
    margin-left: 0;
  }

  .super-admin-table-select-calender-icon {
    left: 28%;
  }

  .upcoming-client-left {
    width: 100%;
  }

  .head-top {
    padding-left: 15px;
  }

  .head-top-1 {
    padding-left: 30px;
  }

  .graph-left-head {
    padding-left: 0px;
  }

  .upcoming-emloyee-right {
    width: 100%;
    margin-top: 20px;
  }

  .bottom-main {
    margin: 10px;
  }

  .client-table table tr td {
    line-height: 20px;
    padding-left: 5px;
  }

  .client-table table tr th {
    line-height: 20px;
    padding-left: 5px;
  }

  .table-border {
    display: none;
  }

  .table-border-1 {
    display: none;
  }

  .pdf-sec-1 {
    width: 23%;
  }

  .pdf-vdo {
    width: 45%;
  }

  .right-sec-message {
    padding-left: 15px;
  }

  .left-sec-message {
    padding-left: 17px;
  }

  .table-head {
    display: none;
  }

  .notebook-main {
    width: 21%;
  }

  .pdf-sec-1 img {
    padding: 0;
  }

  .message-body-1 {
    width: 95%;
  }

  .message-body-1 {
    width: 95%;
  }

  .message-body-2 {
    width: 95%;
  }

  .left-sec-message input {
    width: 87%;
  }

  .message-body-input button {
    position: relative;
    top: 30px;
  }

  .left-sec-message-1-1 {
    height: 447px;
  }

  .snd-txt-butn {
    position: absolute;
    right: 16px;
    bottom: -5px;
  }

  .tabs-main ul li a {
    padding-left: 22px;
    font-size: 12px;
  }

  .pen-butn {
    right: 20px;
    bottom: -48px;
  }

  .circle-admin:before {
    display: none;
  }

  .circle-admin-1:before {
    display: none;
  }

  .circle-admin-2:before {
    display: none;
  }

  .insurace-1-body-main-1 label {
    position: initial;
    display: block;
  }

  .insurace-1-body-main-1 input {
    width: 75%;
  }

  .insurace-1-body-main-1 select {
    width: 75%;
  }

  .left-sec-message-bcba h6 {
    font-size: 12px;
  }

  .table-responsive-1 {
    overflow-x: initial;
  }

  .clalender-butn {
    left: 126px;
    bottom: -20px;
  }

  .trans-butn {
    position: relative;
    top: 20px;
  }

  .trans-butn-1 {
    position: relative;
    top: 20px;
  }

  .litracy-content-select {
    padding-bottom: 55px;
  }

  .side-bar-main {
    display: block;
  }

  .container-login {
    width: auto;
  }

  .Login-input input {
    width: 200px;
  }

  .login-page-main {
    background-size: 100% 100%;
    min-height: auto !important;
  }

  .login-butn {
    width: 200px;
  }

  .login-head {
    margin-bottom: 20px;
    padding-top: 0px;
  }

  .forget-pasmain {
    left: 70%;
  }

  .side-bar-main {
    min-height: 574px !important;
  }

  .BluePencile {
    right: 5%;
    bottom: 27px;
  }

  .EditTable table tr .DescriptionWidth input {
    width: 90%;
  }

  .ButtonAlignRight {
    text-align: right !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  body .add-employee-tabs-main .FranchiseSixTabs li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .frnchise-select-main select {
    width: 15.5%;
  }

  .super-admin-mess-content-left {
    width: 100%;
  }

  .super-admin-mess-content-left-text {
    width: 80%;
  }

  .super-admin-add-relation {
    width: 65%;
  }

  .upcoming-client-left {
    width: 100%;
  }

  .upcoming-emloyee-right {
    width: 100%;
    margin-top: 20px;
  }

  .bottom-main {
    margin: 10px;
  }

  .client-table table tr td {
    line-height: 20px;
    padding-left: 5px;
  }

  .client-table table tr th {
    line-height: 20px;
    padding-left: 5px;
  }

  .table-border {
    display: none;
  }

  .table-border-1 {
    display: none;
  }

  .pdf-sec-1 {
    width: 23%;
  }

  .pdf-vdo {
    width: 45%;
  }

  .right-sec-message {
    padding-left: 15px;
  }

  .left-sec-message {
    padding-left: 17px;
  }

  .table-head {
    display: none;
  }

  .notebook-main {
    width: 21%;
  }

  .logo-main img {
    height: auto;
    width: 85%;
  }

  .pdf-sec-1 img {
    padding: 0;
  }

  .message-body-1 {
    width: 95%;
  }

  .message-body-1 {
    width: 95%;
  }

  .message-body-2 {
    width: 95%;
  }

  .left-sec-message input {
    width: 87%;
  }

  .message-body-input button {
    position: relative;
    top: 30px;
  }

  .left-sec-message-1-1 {
    height: 447px;
  }

  .snd-txt-butn {
    position: absolute;
    right: 16px;
    bottom: -5px;
  }

  .tabs-main ul li a {
    padding-left: 10px;
    font-size: 12px;
  }

  .pen-butn {
    right: 20px;
    bottom: -48px;
  }

  .circle-admin:before {
    display: none;
  }

  .circle-admin-1:before {
    display: none;
  }

  .circle-admin-2:before {
    display: none;
  }

  .insurace-1-body-main-1 label {
    position: initial;
    display: block;
  }

  .insurace-1-body-main-1 input {
    width: 75%;
  }

  .insurace-1-body-main-1 select {
    width: 75%;
  }

  .left-sec-message-bcba h6 {
    font-size: 12px;
  }

  .table-responsive-1 {
    overflow-x: initial;
  }

  .clalender-butn {
    left: 126px;
    bottom: -20px;
  }

  .trans-butn {
    position: relative;
    top: 20px;
  }

  .trans-butn-1 {
    position: relative;
    top: 20px;
  }

  .litracy-content-select {
    padding-bottom: 55px;
  }

  .container-login {
    width: auto;
  }

  .BluePencile {
    right: 4%;
    bottom: 10px;
  }

  .DescriptionWidth {
    padding-right: 0;
  }
}

/******************************* SUPER-ADMIN****************************/

@media (min-width: 320px) and (max-width: 767px) {

  .ThumbnailMargin .pImageCover {
    margin: 10px 10px 10px 0px;
  }

  .ProductGalleryMainDiv .MainProGalley {
    width: 100%;
  }

  .pImageCover {
    width: 97px;
    margin-top: 10px;
  }

  .ProductGalleryMainDiv .upload-box-main {
    width: 100% !important;
  }

  .add-user-main-input select {
    width: 100%;
  }

  .main-deck-card {
    width: 100%;
    margin: 4px;
    margin-left: 0;
  }
  body .main-deck-card{
    width: 48.67% !important;
  }
  .super-admin-table-bottom-para {
    float: none;
    text-align: center;
  }

  .super-admin-table-bottom-pagination {
    float: none;
    text-align: center;
  }

  .upcoming-contact-expiration input {
    width: 85px;
  }

  .payments-head-top-blue .super-admin-table-select {
    float: left;
  }

  .frnchise-select-main select {
    width: 100%;
    margin-bottom: 10px;
  }

  .frnchise-select-main input {
    width: 100%;
    margin-bottom: 10px;
  }

  .frnchise-select-main label {
    position: initial;
  }

  .super-admin-message-text-main {
    width: 100%;
  }

  .super-admin-message-text {
    width: 80%;
  }

  .super-admin-mess-content-main {
    padding: 8px 9px 0px 17px;
  }

  .super-admin-message-right-input {
    width: 66%;
  }

  .blue-border-box {
    width: 94% !important;
    padding: 3px;
    margin-bottom: 10px;
  }

  .view-tab-content-head-main {
    padding-left: 12px;
  }



  .blue-border-box figure h5 {
    width: 100%;
  }

  .view-tab-content-1 figure h5 {
    width: 100%;
  }

  .white-box-view-employee {
    width: 100%;
    margin-bottom: 10px;
  }

  .emplooyetabs-super-admin-main .nav-tabs {
    padding-left: 0px;
  }

  .upcoming-contact-expiration-view-table {
    padding: 18px 5px 18px 5px;
  }

  .fourty-hours-main {
    margin-right: 3px;
    width: 93.1%;
  }

  .circle-super-admin:before {
    display: none;
  }

  .edit-noti-butn-1 {
    padding: 3px 2px !important;
  }

  .inner-tabs-super-admin {
    margin-top: 27px !important;
  }

  .msg-in-a-bottle-head-top-butn {
    margin-top: 20px;
  }

  .edit-task-list-li-edit .sortableList li {
    width: 100%;
  }

  .view-tab-control-butn-main {
    margin: 10px 5px 10px 0px;
  }

  .franchise-data input {
    width: 85%;
  }

  .upcoming-contact-expiration select {
    width: 162px !important;
    margin: 5px 0 0 0;
  }

  .add-employee-main li {
    margin-bottom: 10px;
    width: 64%;
  }

  .add-employee-main li:after {
    display: none;
  }

  .add-franchise-edit-head h6 {
    font-size: 10px;
  }

  .add-franchise-data-butn-1 {
    font-size: 10px;
    padding: 4px 5px;
  }

  .super-admin-add-relation-main {
    margin: 25px 0 0 0px;
  }

  .super-admin-add-relation figure select {
    width: 100%;
  }

  .super-admin-add-relation-main figure {
    line-height: 20px;
  }

  .super-admin-add-relation-main label {
    width: 100%;
  }

  .super-admin-add-relation {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pos-abs-cal {
    top: 35px;
    right: 21px;
  }

  .pos-abs-cal-1-1 {
    top: 79%;
    right: 8%;
  }

  .pos-abs-cal-1 {
    top: 80px;
    right: 10px;
  }

  .super-admin-add-relation-main-add-fee figure label {
    width: 100% !important;
  }

  .lin-higt-maintan {
    line-height: 20px !important;
  }

  .super-admin-add-relation-main-add-fee figure input {
    width: 96% !important;
  }

  .view-tab-content-head h3 {
    font-size: 12px;
    line-height: 20px;
    word-break: break-all;
  }

  .pos-rel-label {
    bottom: 0px;
  }

  .add-forgetten-modal-content {
    width: 90%;
  }

  .pos-abs {
    top: 200px;
    right: 8%;
    left: auto;
  }

  .pos-abs-1 {
    left: auto;
    top: 263px;
    right: 8%;
  }

  .upload-box-main {
    width: 100% !important;
  }

  .add-franchise-data-butn {
    float: none;
  }

  .franchise-data-1 {
    width: 98%;
  }

  .circle-super-admin {
    margin-right: 0px;
    margin-left: -14px;
    position: relative;
    bottom: 40px;
    display: none;
  }

  .inner-tabs-content h3 {
    font-size: 9px;
  }

  .circle-admin-1 {
    margin-right: 0px;
    margin-left: -14px;
    position: relative;
    bottom: 40px;
  }

  .circle-admin-2 {
    margin-right: 0px;
    margin-left: -14px;
    position: relative;
    bottom: 40px;
  }

  .circle-admin-3 {
    margin-right: 0px;
    margin-left: -14px;
    position: relative;
    bottom: 40px;
  }

  .inner-tabs-content-b {
    font-size: 9px !important;
  }

  .inner-tabs-content-parent p {
    font-size: 9px !important;
  }

  .inner-para-span {
    font-size: 9px;
  }

  .inner-tabs-admin .nav-tabs > li a {
    font-size: 11px;
  }

  .super-admin-catalogue-select select {
    width: 100%;
    margin-bottom: 5px;
  }

  .super-admin-catalogue-select-1 input {
    width: 27%;
  }

  .franchise-data textarea {
    width: 85% !important;
  }

  .ad-product-label-input-main {
    width: 92%;
  }

  .classy {
    bottom: 0;
  }

  .add-product-input-main {
    width: 100%;
  }

  .add-product-input-main span {
    display: block;
  }

  .super-admin-table-select-calender-icon {
    left: 61px;
    top: 9px;
  }

  .fourty-hours-main-main {
    width: 92%;
  }

  .employe-edit-dob-input input {
    margin: 5px;
    font-size: 9px;
    width: 42.7%;
  }

  .employe-edit-cal-pos-abs-1 {
    right: 5% !important;
    top: 8% !important;
  }

  .employe-edit-cal-pos-abs-2 {
    right: 5% !important;
    top: 75% !important;
  }

  .super-admin-add-relation-main a {
    right: 5%;
    top: 41%;
  }

  .employe-edit-cal-pos-abs {
    right: 5% !important;
    top: 55% !important;
  }

  .add-employee-tabs-main .nav-tabs {
    display: table;
    margin: 0 auto;
  }

  .add-employee-tabs-main .nav-tabs li {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 5px;
  }

  .add-employee-tabs-main .nav-tabs li:after {
    display: none;
  }

  .two-butn {
    width: 96%;
  }

  .two-butn a {
    position: initial;
  }

  .input-time-picker input {
    margin: 10px 0 10px 0;
  }

  .add-user-main-input figure input {
    margin: 5px;
  }

  .upload-display-pic-head-main {
    float: left;
    width: 50%;
  }

  .upload-display-pic-head-main-main {
    float: right;
    width: 50%;
  }

  .upload-display-pic-btn-main {
    margin-bottom: 31px;
  }

  .upload-display-pic-btn-main .pos-rel-sav-butn {
    top: 18px;
    left: -7px;
  }

  .calender-main img {
    width: 100%;
  }

  .create-notification-del-butn {
    top: 0;
    bottom: 5px;
  }

  .main-head-franchise {
    margin-bottom: 9px;
  }

  .pos-abs-2 {
    top: 50%;
    left: 56%;
  }

  .add-franchise-data-main-1 .nav-tabs li a {
    padding-bottom: 5px;
  }

  .drop-down-main {
    width: 292px;
    left: -225px;
  }

  .drop-down-main-1 {
    width: 292px;
    left: -248px;
  }

  .logout-box-main {
    left: -150px;
  }

  .view-tab-control .nav-tabs li a {
    margin: 6px;
    padding-left: 0px;
  }

  .add-franchise-data-butn-2 {
    padding: 3px 5px;
    font-size: 11px;
  }

  .super-admin-table-bottom-pagination ul li a {
    padding: 7px 9px;
  }

  .add-franchise-butn-main {
    margin-bottom: 20px;
  }

  #calender {
    width: 100%;
  }

  .calender-head-main {
    width: 100%;
  }

  .padd-left-anchor a {
    padding-left: 15px !important;
  }

  .add-franchise-data-main-3 .nav-tabs {
    padding-bottom: 10px;
  }

  .pos-abs-popup-caleder {
    top: 32px;
    right: 24%;
  }

  .add-forgetten-modal-body a {
    right: 11%;
    top: 28%;
  }

  .padd-lef-0-td input {
    right: 0;
  }

  .description-box-text figure {
    width: 100%;
  }

  .t-shirt-description-main h3 {
    width: 100%;
  }

  .t-shirt-description-main p {
    width: 100%;
  }

  .Responsive-Text-None {
    display: none;
  }

  .UpdateTextDextopNone {
    display: block;
  }

  .UpdateTextDextopNone h3 {
    color: #10294b;
    font-size: 14px;
    font-family: Lato;
    font-weight: 600;
    border-bottom: 1px #e9ecf0 solid;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .upload-display-pic-main {
    margin-left: 0;
  }

  .col-5 {
    padding-right: 15px;
  }

  .col-4 {
    padding-left: 15px;
  }

  .upload-display-icon-main {
    margin: 0px auto;
  }

  .upload-display-pic-main h5 {
    width: auto;
  }

  .franchise-data select {
    width: 85% !important;
  }

  .AddAttributeStyle .add-product-input-main input {
    width: 69% !important;
  }

  .pImageCover img {
    width: 100%;
  }

  .EmployeActionBtn-1 {
    padding-right: 50px !important;
  }

  .EmployeActionBtn {
    padding-right: 10px !important;
  }

  #client-main-deck .inner-tabs-main .nav-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }

  #client-main-deck .inner-tabs-main .nav-tabs li a {
    padding-bottom: 7px;
  }

  .create-notification-main-main button {
    text-align: left;
  }

  .create-notification-main-main h5 {
    margin: 5px 5px;
  }

  .FieldsWidth .franchise-data input {
    width: 100%;
  }

  .AddNotificationMain .select2 {
    width: 100% !important;
  }

  .AddNotificationMain .franchise-data select {
    width: 100% !important;
  }

  .AddNotificationMain .franchise-data textarea {
    width: 100% !important;
  }

  .AddNotificationMain .franchise-data label {
    width: 100%;
  }

  .super-admin-add-relation-main-add-fee .error1 {
    left: 0;
  }

  .task-list-label-wid {
    width: 100% !important;
    bottom: 0;
  }

  #tasks_cover .taskDiv textarea {
    width: 100% !important;
  }

  .error-text {
    left: 0;
  }

  .MargBot10 {
    margin-bottom: 10px;
  }

  .calender-icon-table-i {
    top: 22px;
    right: 17px;
  }

  .error1 {
    left: 0;
  }

  .EmployeeDemographicMain .cale-icon {
    top: 3px;
  }

  .time-input input {
    width: 100% !important;
  }

  .SetScheduleDiv {
    width: 100% !important;
  }

  .last-tab-data {
    width: 93%;
  }

  .MargBot20 {
    margin-bottom: 20px !important;
  }

  .cut_relation {
    right: 0;
  }

  .EmployeeAddTaskListMainDiv .performance_lable {
    width: 100%;
  }

  .EmployeeAddTaskListMainDiv .taskDiv .performane_textare {
    width: 100%;
  }

  .EmployeeNavTabs {
    padding-top: 15px !important;
  }

  .EmployeeTimepunchesMainDiv select {
    width: 100% !important;
  }

  .ButtonsPullRightRisponsive {
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .EmployeePerformanceMainDiv select {
    width: 100% !important;
  }

  .ViewperformancelogTableWidth {
    width: 700px !important;
  }

  .EditperformancelogTableWidth {
    width: 740px !important;
  }

  .EditperformancelogTableWidth .BluePencile {
    right: 17%;
    top: 24px;
  }

  .super-admin-table-time-punches-td .BluePencile {
    right: 10% !important;
  }

  .FranchiseEditFeeFieldsWidth .pos-abs-cal {
    right: 30px;
  }

  .FranchiseEditFeeFieldsWidth .pos-abs-cal-1-1 {
    right: 30px;
  }

  .FranchiseEditFeeFieldsWidth .error1 {
    top: 0px;
  }

  .FranchiseAddTaskListBtnWidth #tasks_cover .taskDiv textarea {
    width: 95% !important;
  }

  .FranchiseFieldsCalenders input {
    width: 100% !important;
  }

  .FieldsWidth .select2-container {
    width: 100% !important;
  }

  .FieldsWidth .franchise-data select {
    width: 100% !important;
  }

  .FieldsWidth .franchise-data textarea {
    width: 100% !important;
  }

  .FieldsWidth .franchise-data label {
    width: 100%;
  }

  #calendar2 .fc-view {
    overflow-x: scroll;
  }

  #calendar2 .fc-view table {
    width: 900px;
  }

  .EmployeeTimepunchesMainDiv .fourty-hours-main {
    width: 100%;
  }
.view-tab-content h5{
      width: 50%;
    }
  .view-tab-content h4{
      width: 43%;
    }
}

@media (min-width: 320px) and (max-width: 533px) {
  .super-admin-cargo-hold-box {
    width: 109px;
    margin-bottom: 10px;
  }

  .nav-tabs > li {
    float: none;
  }
}

@media (min-width: 534px) and (max-width: 767px) {
  .super-admin-cargo-hold-box {
    width: 109px;
    margin-bottom: 10px;
  }

  .nav-tabs > li {
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .EmployeePerformanceMainDiv .super-admin-table-select select {
    width: 25%;
    margin-right: 4px;
  }

  .EmployeeTimepunchesMainDiv .super-admin-table-select select {
    width: 25%;
    margin-right: 5px;
  }

  .EmployeeTrimitinerayViewTablePadd .table {
    width: 600px !important;
  }

  .EmployeeAddTaskListMainDiv #addTask {
    width: 250px !important;
  }

  .EmployeeAddTaskListMainDiv .task-list-label-wid {
    width: 70px !important;
  }

  .add-employee-tabs-main-main .view-tab-control-butn-main {
    margin: 22px 12px 10px 0;
  }

  .circle-super-admin {
    display: none;
  }

  .TimePuncheTableWidth {
    width: 690px !important;
  }

  .EmployeActionBtn {
    padding-right: 15px !important;
  }

  .EmployeActionBtn-1 {
    padding-right: 55px !important;
  }

  .FranchiseesViewTableWidth {
    width: 825px !important;
  }

  .FranchiseesListActionBtn {
    width: 110px;
  }

  .FranchiseesListTableWidth {
    width: 680px !important;
  }

  .super-admin-table-2 table tr td {
    line-height: 20px;
  }

  .td-width {
    width: 55% !important;
    line-height: 20px !important;
  }

  .pBtnDlt {
    right: 0px;
    top: 0px;
    padding: 6px 10px;
  }

  .MainProGalley .pImageCover {
    height: 80px;
    width: 80px;
    margin-top: 10px;
  }

  .MainProGalley .pImageCover img {
    width: 100%;
  }

  .ThumbnailMargin .pImageCover {
    margin: 10px 10px 10px 0px;
  }

  .ThumbnailMargin {
    float: none;
    width: 57%;
    margin-left: auto;
  }

  .ProductGalleryMainDiv .MainProGalley {
    width: 60%;
    float: none;
    margin-left: auto;
  }

  .super-admin-add-relation-main input {
    width: 65%;
  }

  .employe-edit-cal-pos-abs {
    top: 5px;
  }

  .fourty-hours-main b {
    width: 27%;
  }

  .fourty-hours-main h6 {
    width: 31%;
  }

  .fourty-hours-main {
    width: 92.1%;
  }

  .fourty-hours-main-1 {
    float: right;
  }

  .main-deck-card {
    width: 49%;
    margin-bottom: 4px;
  }

  .frnchise-select-main select {
    width: 50%;
    margin-bottom: 10px;
  }

  .frnchise-select-main input {
    width: 50%;
    margin-bottom: 10px;
  }

  .frnchise-select-main label {
    display: block;
    position: initial;
  }

  .super-admin-cargo-hold-box {
    margin-bottom: 10px;
    width: 47%;
  }

  .super-admin-message-right-input {
    width: 82%;
  }

  .super-admin-message-text-right {
    float: none;
  }

  .super-admin-message-text {
    width: 88%;
  }

  .upload-display-pic-head-main h3 {
    font-size: 12px;
  }

  .upload-display-pic-head-main-main .upload-display-pic-head-main {
    width: 61%;
  }

  .upload-display-icon-main {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }

  .upload-display-icon-main i {
    font-size: 69px;
    line-height: 94px;
  }

  .upload-display-pic-main h5 {
    font-size: 12px;
    text-align: center;
    margin-left: 0%;
    width: auto;
  }

  .add-user-main-input figure {
    line-height: 19px;
  }

  .pos-rel-sav-butn {
    font-size: 12px;
  }

  .blue-border-box {
    padding: 3px;
    text-align: center;
    width: 60% !important;
    margin-bottom: 10px;
  }

  .add-franchise-butn-main {
    margin-bottom: 15px;
  }

  .add-franchise-lines-data ul li p {
    font-size: 12px;
    width: 58% !important;
  }

  .super-admin-table-select input {
    width: 33%;
  }

  .super-admin-table-select select {
    width: 33%;
  }

  .view-tab-content h5 {
    width: 40% !important;
  }

  .view-tab-content h4 {
    width: 55% !important;
    text-align: left;
  }

  /*.view-tab-content .blue-border-box h4 {
      width: auto !important;
  }*/

  .blue-border-box figure h5 {
    float: left;
    text-align: left;
  }

  .blue-border-box figure h6 {
    width: 40%;
    text-align: left;
  }

  .view-tab-control .nav-tabs li a {
    font-size: 12px;
  }

  .view-tab-content-head h3 {
    font-size: 13px;
  }

  .add-franchise-data-butn-2 {
    font-size: 12px;
  }

  .add-franchise-data-butn-1 {
    font-size: 12px;
  }

  .super-admin-add-relation-main-add-fee figure label {
    width: 35% !important;
  }

  .super-admin-add-relation {
    width: 100%;
  }

  .pos-abs {
    position: absolute;
    top: 63%;
    left: 46%;
  }

  .pos-abs-1 {
    position: absolute;
    top: 83%;
    left: 46%;
  }

  .super-admin-table-1 table tr td {
    line-height: 20px;
  }

  .super-admin-table-1 table tr th {
    line-height: 40px;
  }

  .super-admin-table-2 table tr th {
    line-height: 25px;
  }

  .add-employee-tabs-main .nav-tabs li:after {
    display: none;
  }

  .franchise-data input {
    width: 53%;
  }

  .add-employee-tabs-main .nav-tabs {
    display: table;
    margin: 0 auto;
  }

  .add-employee-tabs-main .nav-tabs li {
    width: 100%;
    margin-bottom: 5px;
  }

  .franchise-data-1 {
    width: 91%;
  }

  .input-time-picker input {
    width: 17%;
  }

  .white-box-view-employee {
    width: 47%;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 24px 13px;
  }

  .add-franchise-data-main-1 .nav-tabs li a {
    font-size: 11px;
  }

  .employe-edit-dob-input input {
    width: 32%;
  }

  .super-cargo-tabs-main .nav-tabs li a {
    font-size: 12px;
  }

  .upload-box-main {
    width: 100% !important;
  }

  .circle-super-admin:before {
    display: none;
  }

  .create-notification-del-butn {
    top: -4px;
  }

  .padd-lef-0-td input {
    right: -3px;
  }

  .franchise-data textarea {
    width: 53%;
  }

  .ad-product-label-input-main {
    width: 84%;
  }

  .franchise-data select {
    width: 53%;
  }

  .t-shirt-description-main {
    margin-left: 11px;
    width: 55%;
  }

  .t-shirt-description-main h3 {
    width: 79%;
  }

  .t-shirt-description-main p {
    width: 100%;
  }

  .pos-abs-2 {
    left: 91%;
  }

  .super-admin-table-position-1 {
    padding-right: 44px !important;
  }

  .super-admin-table-position {
    padding-right: 7px !important;
    text-align: left;
  }

  .super-admin-catalogue-select-1 {
    width: 30%;
  }

  .super-admin-catalogue-select-1 input {
    width: 20%;
  }

  .super-admin-catalogue-select select {
    width: 45%;
  }

  .footer-main {
    padding-left: 20px;
  }

  .CatalogueTableWidth {
    width: 650px !important;
  }

  .AddAttributeStyle {
    width: 96% !important;
  }

  .AddAttributeStyle > .add-product-input-main {
    float: none;
    width: auto;
  }

  .AddAttributeStyle .add-product-input-main input {
    width: 43% !important;
  }

  .AddAttributeStyle label {
    width: 200px;
  }

  #imageDropzone {
    width: 57% !important;
  }

  .ProductGalleryMainDiv .upload-box-main {
    width: 57% !important;
  }

  .order-date {
    width: 30%;
  }

  .order_main .order-date input,
  .order_main .order-date select {
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
  }

  .order_main .fiter-butn-main {
    width: 36%;
    padding-left: 0px;
  }

  .order_main .franchise-search-butn {
    padding: 5px 15px;
  }

  .order_main .butn-spacing-padd-1 {
    padding: 4px 8px;
  }

  .AddNotificationMain .upload-box-main {
    width: 50% !important;
  }

  .AddNotificationMain .FieldsWidth .franchise-data textarea {
    width: 50%;
  }

  .AddNotificationMain .FieldsWidth .franchise-data input {
    width: 50%;
  }

  .AddNotificationMain .select2 {
    width: 50% !important;
  }

  .AddNotificationMain .FieldsWidth .franchise-data select {
    width: 50%;
    padding: 6px;
  }

  .AddNotificationMain .FieldsWidth .franchise-data-1 {
    width: 77%;
  }

  .FrnchiseFields input,
  .FrnchiseFields select {
    width: 47% !important;
  }

  .super-admin-add-relation-main-add-fee .error1 {
    left: 36%;
  }

  .FranchiseViewMainDiv .super-admin-table-select input {
    width: 37%;
  }

  .FranchiseViewMainDiv .super-admin-table-select select {
    width: 37%;
  }

  .FranchiseViewMainDiv .col-sm-8 {
    width: 300px;
  }

  .PaymentTableInputWidth {
    width: 1120px !important;
  }

  .calender-icon-table-i {
    top: 20px;
    right: 18px;
  }

  .SetScheduleDiv {
    width: 70% !important;
  }

  .last-tab-data {
    width: 80%;
  }

  .ViewperformancelogTableWidth {
    width: 700px !important;
  }

  .EditperformancelogTableWidth {
    width: 815px !important;
  }

  .EditperformancelogTableWidth .BluePencile {
    right: 15%;
    bottom: 33px;
  }

  .super-admin-table-time-punches-td .BluePencile {
    right: 10% !important;
  }

  .CommentWidthTh {
    width: 300px;
  }

  body .FranchiseViewPaymentTableWidth {
    width: 1050px !important;
  }

  .UploadProductBtn {
    width: 70%;
  }

  .FranchiseFieldsCalenders .pos-abs-cal {
    right: 12px;
  }

  .FieldsWidth .franchise-data .NotificationInputWidth {
    width: 54% !important;
  }

  .FieldsWidth .select2-container {
    width: 54% !important;
  }

  .FieldsWidth .franchise-data select {
    width: 54%;
  }

  .FieldsWidth .franchise-data textarea {
    width: 54%;
  }

  .FieldsWidth .upload-box-main {
    width: 55% !important;
  }

  .FieldsWidth .franchise-data-1 {
    width: 77%;
  }

  .EmployeeTimepunchesMainDiv .fourty-hours-main {
    width: 100%;
  }

  .EmployeeTimepunchesMainDiv .fourty-hours-main b {
    width: 30%;
  }

  .super-admin-add-relation-main .input-group-row {
    width: 65%;
  }
  body .main-deck-card{
    width: 48.67% !important;  
  }
  .main-deck-card-text p{
    font-size: 11px;  
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .EditperformancelogTableWidth .BluePencile {
    right: 15%;
    bottom: 33px;
  }

  .super-admin-table-time-punches-td .BluePencile {
    right: 10%;
  }

  .white-box-view-employee {
    padding: 24px 13px;
    margin-right: 9px;
    width: 32%;
  }

  .FranchiseViewMainDiv .super-admin-table-select input {
    width: 19%;
  }

  .FranchiseesViewTableWidth {
    width: 825px !important;
  }

  .AddAttributeStyle {
    width: 63%;
  }

  .blue-border-box {
    width: 31% !important;
  }

  .t-shirt-description-main h3 {
    width: 100%;
  }

  .t-shirt-description-main p {
    width: 100%;
  }

  .description-box-text figure {
    width: 100%;
  }

  .blue-border-box figure h6 {
    font-size: 11px;
  }

  .blue-border-box figure h5 {
    font-size: 12px;
  }

  .main-deck-card {
    width: 32%;
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 17px 8px 19px 14px;
  }
.main-deck-card-text p{
    font-size: 10px;
    width: 100px;
    min-height: 31px;
  }
.main-deck-card-text b{
    font-size: 12px !important;
  }

  .super-admin-cargo-hold-box {
    width: 20%;
  }

  .super-admin-message-text-main {
    width: 92%;
  }

  .super-admin-message-text {
    width: 88%;
  }

  .super-admin-message-text-right {
    float: left;
  }

  .super-admin-message-right-input {
    width: 84%;
  }

  .super-admin-mess-content-main {
    padding: 8px 5px 0px 5px;
  }

  .super-admin-message-right-input-main {
    margin-top: 190px;
  }

  .super-admin-message-input-icon {
    display: none;
  }

  .side-bar-main {
    background-size: 100% 100%;
  }

  .footer-main {
    padding: 15px;
    padding-left: 10px;
  }

  .BoxWidth {
    width: 75%;
  }

  .PaymentTableInputWidth {
    width: 1120px !important;
  }

  .UploadCargHoldMainDiv #cargoHold .col-md-2 {
    width: 27%;
  }

  .UploadCargHoldMainDiv #cargoHold .col-md-3 {
    width: 30%;
  }

  .UploadCargHoldMainDiv .upload-box-main {
    width: 55%;
  }

  .UploadCargHoldMainDiv .franchise-data-1 {
    width: 55%;
  }

  body .FranchiseViewPaymentTableWidth {
    width: 1040px !important;
  }

  .CommentWidthTh {
    width: 300px;
  }

  .UploadProductBtn {
    width: 46%;
  }

  .FieldsWidth .franchise-data input {
    width: 34%;
  }

  .FieldsWidth .select2-container {
    width: 34% !important;
  }

  .FieldsWidth .franchise-data select {
    width: 34%;
  }

  .FieldsWidth .franchise-data textarea {
    width: 34%;
  }

  .FieldsWidth .upload-box-main {
    width: 34%;
  }

  .EmployeeTimepunchesMainDiv .fourty-hours-main h6 {
    width: 15%;
  }

  .EmployeeTimepunchesMainDiv .fourty-hours-main b {
    width: 25%;
  }
}

@media (min-width: 992px) and (max-width: 1054px) {
  .FranchiseEditFeeFieldsWidth {
    width: 68% !important;
  }
}

@media (min-width: 992px) and (max-width: 1170px) {
  .ForgetPassTextAlign {
    left: 70%;
  }
}

@media (min-width: 1025px) and (max-width: 1325px) {
  .main-deck-card {
    width: 32.5% !important;
    margin-bottom: 3px;
    padding: 17px 7px 19px 8px;
  }

  .side-bar-main {
    /*min-height: 517px !important;*/
    background-size: 100% 100%;
  }

  .BluePencile {
    right: 15%;
    bottom: 5px;
  }

  .BoxWidth {
    width: 70%;
  }

  .PaymentTableInputWidth {
    width: 1120px !important;
  }

  .footer-main {
    padding: 13px;
    padding-left: 15px;
  }

  .EditperformancelogTableWidth .BluePencile {
    right: 15%;
    bottom: 33px;
  }
.main-deck-card-1,.main-deck-card-2{
  margin-right: 3px;
  }
.main-deck-card-icon i {
    font-size: 47px;
  } 

}

@media (min-width: 1326px) and (max-width: 1365px) {
  .main-deck-card {
    width: 19.6%;
  }

  .main-deck-card-icon i {
    font-size: 50px;
  }
}

@media (min-width: 1366px) and (max-width: 1557px) {
  .main-deck-card {
    width: 19.7%;
  }

  .white-box-view-employee {
    width: 32.4%;
  }
}

@media (min-width: 1025px) and (max-width: 1332px) {
  .container-login {
    width: auto;
  }

  .tabs-main ul li a {
    padding-left: 10px;
    font-size: 12px;
  }
}

@media (min-width: 1025px) and (max-width: 1137px) {
  .FrnchiseFields select {
    width: 16%;
  }
}

@media (min-width: 1025px) and (max-width: 1365px) {
  .white-box-view-employee {
    width: 32%;
    padding: 24px 20px;
  }
}

@media (min-width: 992px) and (max-width: 1317px) {
  .super-admin-add-relation {
    width: 60%;
  }

  .MainProGalley .pImageCover {
    height: 70px;
    width: 70px;
  }

  .MainProGalley .pImageCover img {
    width: 100%;
  }

  .ProductGalleryMainDiv .MainProGalley {
    width: 28%;
  }

  .pBtnDlt {
    right: 0px;
    top: 0px;
    padding: 5px 10px;
  }

  .order-date {
    width: 18%;
  }

  .order_main .fiter-butn-main {
    width: 29%;
    padding-left: 0;
  }

  .EditperformancelogTableWidth {
    width: 1000px !important;
  }

  .super-admin-table-time-punches-td .BluePencile {
    right: 17% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1405px) {
  body .FranchiseViewPaymentTableWidth {
    width: 1040px !important;
  }

  .CommentWidthTh {
    width: 300px;
  }

  /*body .add-employee-tabs-main .FranchiseSixTabs li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5px;
  }*/
}

